<div>
  <div id="portada">
            <h1> Valle de Calamuchita</h1>
        </div>
        
    <main>
      <div>
        <section class="info_general">

            <h2 class="titulo_principal">Valle de Calamuchita</h2>

            <div class="descripcion_de_la_region">
                <p>La localidad se erige al pie de las Sierras Chicas, las cuales dan un marco inigualable a la región. A partir de aquí comenzamos a disfrutar de la historia del Valle de Calamuchita, recorriendo cada rincón, conociendo sus paisajes y palpitando desde ahora lo que podrá ser nuestro viaje a la tierra de los Comechingones.</p>
                <p>A comienzos del siglo XVIII la orden de los Dominicos fundó la Capilla de Santa Rosa de Lima, alrededor de la cual se organizó el primer asentamiento del lugar, al que se le otorgó el nombre de: “Ctalamochita” , que en lengua aborigen significa: Abundancia de talas y molles. ( Ctala: Tala, Mochi: Molle, Ita: Abundancia).</p>
                <p>Con el paso de los siglos y las diferentes culturas que habitaron la región, el término Ctalamochita sufrió muchas deformaciones hasta concluir en la actual palabra: Calamuchita, que da origen al nombre de la Región.</p>
                <p>De esta manera, Calamuchita se unió al nombre de la Patrona del lugar y originaron la denominación del nuevo poblado del Valle: Santa Rosa de Calamuchita.</p>
                <br>

            </div>

            <div class="lugares_turisticos">
                <h3 class="titulo_secundario">Principales localidades</h3>
                <nav id="redes">
                    <ul>
                        <li><a href="soon/index.html" target="new"><img src="">San Miguel de los Ríos.</a></li>
                        <li><a href="soon/index.html" target="new"><img src="">Santa Rosa de Calamuchita</a></li>
                        <li><a href="soon/index.html" target="new"><img src="">Villa General Belgrano</a></li>                        
                        <li><a href="soon/index.html" target="new"><img src="">La Cumbrecita</a></li>
                        <li><a href="soon/index.html" target="new"><img src="">Yacanto de Calamuchita</a></li>
                        <li><a href="soon/index.html" target="new"><img src="">Los Reartes</a></li>
                        <li><a href="soon/index.html" target="new"><img src="">Villa Rumipal</a></li>  
                              
                    </ul>  
                </nav>

            </div>            
        </section>

          <section id="slider"> 
                <h3 class="titulo_galeria">Galeria de fotos</h3>

                <div id="caja">
			 
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="./assets/img/Atardecer desde las Altas Cumbres 2.jpg" class="d-block w-100"  class="img-fluid" alt="Mina Clavero">
                </div>
                <div class="carousel-item">
                  <img src="./assets/img/Nacimiento del rio Mina Clavero desde La Toma.jpg" class="d-block w-100"  class="img-fluid"  alt="...">
                </div>
                <div class="carousel-item">
                  <img src="./assets/img/Cascada de los Helechos, Rio Hueco.jpg" class="d-block w-100"  class="img-fluid" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="./assets/img/Paredon del Dique la Viña.jpg" class="d-block w-100"  class="img-fluid"  alt="...">
                </div>
                <div class="carousel-item">
                  <img src="./assets/img/_DSC6574.jpg" class="d-block w-100"  class="img-fluid"  alt="...">
                </div>
                <div class="carousel-item">
                  <img src="./assets/img/DSC03238.jpg" class="d-block w-100"  class="img-fluid" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="./assets/img/DSC03790.jpg" class="d-block w-100"  class="img-fluid" alt="...">
                </div>
               
                </div>
              </div>
            </div>
         </section>

         <div class="mapa">
          
          <div id="imagen_mapa">

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1728723.660783913!2d-66.76129326513566!3d-32.19308952076594!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95d296472ef06253%3A0x1ff7be210d812c2!2sCalamuchita%2C%20C%C3%B3rdoba!5e0!3m2!1ses-419!2sar!4v1667703763968!5m2!1ses-419!2sar" width="95%" height="300" style="border:20px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
         </div>
        </div>
    </main>
</div>
