     <header class="header" style="background-image: url(./assets/img/sal1.jpg)">
		<div id="portada">
			
		<h1>Contacto</h1>
		<h2></h2>
		</div>
    
	</header>

    <main>
      
        <section id="Contacto">
      
          <h3>Contactanos</h3>
          <br>
          <form class="row g-3 needs-validation" novalidate>
            <div class="col-12 col-md-7">
                <label for="nombre" class="form-label">Ingrese su nombre</label>
                <input type="text" class="form-control" id="nombre" placeholder="nombre" minlength="4" required>
                <div class="valid-feedback">
                    Correcto! </div>
                <div class="invalid-feedback">
                    Ingrese un nombre valido </div>
            </div>
            <div class="col-12 col-md-7">
                <label for="apellido" class="form-label">Ingrese su apellido</label>
                <input type="text" class="form-control" id="apellido" placeholder="apellido" minlength="4" required>
                <div class="valid-feedback">
                    Correcto! </div>
                <div class="invalid-feedback">
                    Ingrese un apellido valido </div>
            </div>
            <div class="col-12 col-md-7">
                <label for="email" class="form-label">Correo electrónico</label>
                <input type="email" class="form-control" id="email" placeholder="ejemplo@ejemplo.com"
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                <div class="valid-feedback">
                    Correcto! </div>
                <div class="invalid-feedback">
                    Formato de email incorrecto </div>
            </div>

            <div class="col-12 col-lg-8 mt-3">
                <label for="mensaje">Ingrese su mensaje</label>
                <textarea rows=4 placeholder="Mensaje" class="form-control" minlength="10" id="mensaje"
                    required></textarea>
            </div>

            <div class="col-12">
                <button class="btn btn-success" type="submit">Enviar</button>
            </div>
        </form>    
        </section>
  
    
    </main>

