 <header class="header">
    <div id="portada">

      <h1>Paquetes turisticos</h1>
    </div>
    
  </header>

  <!--slider-->

  <section class="primeraetapa">

    <h2>Córdoba CityTour FULLDAY x 2 pax</h2>
    <h4>Córdoba, Argentina</h4>

    <div class="carrusel1">
      <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
            aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="./assets/img/cba1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="./assets/img/cba2.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="./assets/img/cba3.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="./assets/img/cba4.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <!--Carrito-->
    <div class="carrito1">
      <h3>Desde $ 14999</h3>
      <br>
      <h4>Seleccionar fecha y viajeros</h4>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"></label>
        <input type="" class="form-control" id="exampleFormControlInput1" placeholder="Lunes, 01 de Mayo de 2023">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"></label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="2 Adultos">
        <br>
        <button type="submit" class="btn btn-primary">Comprar</button>
        <br>
        <br>
        <br>
        <p>Reserve plaza manteniendo la flexibilidad</p>
        <p>Cancelación gratuita</p>
        <p>Hasta 24 horas antes.</p>

      </div>
    </div>

    <!--info general-->

    <div class="infogral">
      <div class="a">
        <div class="icono"><img class="size" src="imagenes/reloj.png" alt=""></div>
        <div class="text">
          <p>6 horas (aprox.)</p>
        </div>
      </div>

      <div class="a">
        <div class="icono"><img class="size" src="imagenes/autobus.png" alt=""></div>
        <p>Recogida desde hoteles seleccionados</p>
      </div>

      <div class="a">
        <div class="icono"><img class="size" src="imagenes/cel.png" alt=""></div>
        <p>Entrada para dispositivos móviles</p>
      </div>

      <div class="a">
        <div class="icono"><img class="size" src="imagenes/dialogo.png" alt=""></div>
        <p>Idiomas disponibles: Español e Ingles</p>
      </div>

    </div>
    <!--Descripcion-->

    <div class="desc">
      <br>
      <h2>Descripcion general</h2>
      <br>
      <p>Una experiencia completa para descubrir la ciudad de Córdoba en su totalidad. En los últimos años, se han
        agregado atracciones que no están incluidas en las ciudades tradicionales de medio día, por lo que creamos esta
        nueva opción, donde además de conocer la historia, ingresamos a los barrios más emblemáticos de la ciudad y sus
        nuevos parques y carreteras . Para el almuerzo, se sugiere lo más típico de Córdoba: un Choripan en Dante (no
        inclinado). <br>Este city tour NO incluye la entrada y visitas a museos.</p>
    </div>

    <!--Servicios-->
    <div class="desc">
      <br>
      <h2>Servicios incluidos</h2>
      <br>
      <p>Vehículo con aire acondicionado</p>
      <p>Transporte privado</p>
      <p>Aperitivos</p>
    </div>
    <!--Encuentro-->

    <div class="desc">
      <br>
      <h2>Encuentro y recogida</h2>
      <br>
      <h4>Detalles de la recogida</h4>
      <p>Lo recogemos de cualquier hotel en la ciudad de Córdoba</p>
    </div>
    <!--Que esperar-->

    <div class="desc">
      <br>
      <h2>Que esperar</h2>
      <br>
      <h4>Museo Historico UNC Manzana Jesuitica</h4>
      <p>Visitas el bloque jesuita, la iglesia, la universidad, la capilla doméstica.</p>
      <h4>Plaza San Martin</h4>
      <p>Plaza y todos sus alrededores, catedral, ayuntamiento, edificios principales, calle Santa Catalina, museo de la
        memoria, plaza del fundador.</p>
      <h4>Córdoba</h4>
      <p>Una experiencia completa para descubrir la ciudad de Córdoba en su totalidad. En los últimos años, se han
        agregado atracciones que no están incluidas en las ciudades tradicionales de medio día, por lo que creamos esta
        nueva opción, donde además de conocer la historia, ingresamos a los barrios más emblemáticos de la ciudad y sus
        nuevos parques y carreteras . Para el almuerzo, se sugiere lo más típico de Córdoba: un Choripan en Dante (no
        incluido).</p>
    </div>

    <!--Info adicional-->
    <div class="desc">
      <br>
      <h2>Información adicional</h2>
      <br>
      <p>La confirmación se recibirá cuando se realice la reserva</p>
      <p>No es adecuado para viajeros con afecciones cardíacas u otros problemas médicos graves</p>
      <p>La mayoría de viajeros pueden participar en la experiencia</p>
      <p>La mayoría de viajeros pueden participar en la experiencia</p>
    </div>

    <!--politica de cancelacion-->
    <div class="desc">
      <br>
      <h2>Política de cancelación</h2>
      <br>
      <p>Para recibir el reembolso íntegro de la experiencia debes cancelarla como mínimo 24 horas antes de que empiece.
      </p>
      <p>Si cancelas la experiencia menos de 24 horas antes de que empiece, no se te devolverá el importe abonado.</p>
      <p>No se aceptará ningún cambio que se realice cuando falten menos de 24 horas para empezar la experiencia.</p>
      <p>La hora límite se basa en la hora local del lugar donde se realiza la experiencia.</p>
    </div>

  </section>
