<!--

<section class="oferta"> 
    
    <div class="api">
    <h2 class="title"> Api de prueba</h2>
   

    <div *ngFor="let product of products">
         Mostrar los datos aquí -->
     <!--   <p>{{ product.nombreproducto }}</p>
        <img class="anchofoto" src="./assets/img/DSC07946.jpg" alt="Catedral de Córdoba">
        <p>{{ product.fecha }}</p>
      </div>

   

    </div>   
    
</section>
-->

<section class="oferta"> 
    <div class="fotopaquete"> <img class="anchofoto" src="./assets/img/DSC07946.jpg" alt="Catedral de Córdoba">
    </div>
    <div class="nombrepaquete" *ngIf="productos">
        <ng-container *ngFor="let producto of productos">
            <div *ngIf="producto.idproducto == 6">        
    <h2> {{ producto.nombreproducto }}</h2>
    <p class="cuerpo">{{ producto.descripcion }}</p>
    <p> fecha: {{ producto.fecha }}</p>
    <p>Idioma: Ingles, Español</p>
    <p>Modalidad: Cancelacion Gratuita</p>
    

    <button type="submit" class="btn btn-primary boton"(click)="agregarAlCarrito(producto)">Agregar al carrito</button>
   
        </div>       
        </ng-container>
    </div>
    <div class="precio" *ngIf="productos">
        <ng-container *ngFor="let producto of productos">
        <div *ngIf="producto.idproducto == 6">   
        <p class="negrita">Desde</p>
        <p> $ {{ producto.precio }}</p>
            </div>       
            </ng-container>
    </div>   
   
</section>


<!--src="./assets/img/la cumbrecita.jpg-->

<section class="oferta"> <a class="paquete" [routerLink]="['/paquete-turistico-la-cumbrecita']">
    <div class="fotopaquete"> <img class="anchofoto" src="./assets/img/la cumbrecita.jpg" alt="Catedral de Córdoba">
    </div>
    <div class="nombrepaquete" *ngIf="productos">
        <ng-container *ngFor="let producto of productos">
            <div *ngIf="producto.idproducto == 7">        
    <h2> {{ producto.nombreproducto }}</h2>
    <p class="cuerpo">{{ producto.descripcion }}</p>
    <p> fecha: {{ producto.fecha }}</p>
    <p>Idioma: Ingles, Español</p>
    <p>Modalidad: Cancelacion Gratuita</p>
        </div>       
        </ng-container>
    </div>
    <div class="precio" *ngIf="productos">
        <ng-container *ngFor="let producto of productos">
        <div *ngIf="producto.idproducto == 7">   
        <p class="negrita">Desde</p>
        <p> $ {{ producto.precio }}</p>
            </div>       
            </ng-container>
    </div>   
    </a>
</section>

<!--catedral1.jpg-->

<section class="oferta"> <a class="paquete" [routerLink]="['/paquete-turistico-cba']">
<div class="fotopaquete"> <img class="anchofoto" src="./assets/img/catedral1.jpg" alt="Catedral de Córdoba">
</div>
<div class="nombrepaquete" *ngIf="productos">
    <ng-container *ngFor="let producto of productos">
        <div *ngIf="producto.idproducto == 8">        
<h2> {{ producto.nombreproducto }}</h2>
<p class="cuerpo">{{ producto.descripcion }}</p>
<p> fecha: {{ producto.fecha }}</p>
<p>Idioma: Ingles, Español</p>
<p>Modalidad: Cancelacion Gratuita</p>
    </div>       
    </ng-container>
</div>
<div class="precio" *ngIf="productos">
    <ng-container *ngFor="let producto of productos">
    <div *ngIf="producto.idproducto == 8">   
    <p class="negrita">Desde</p>
    <p> $ {{ producto.precio }}</p>
        </div>       
        </ng-container>
</div>   
</a>
</section>

<!--PARTE NUEVA 3-->

<section class="oferta"> <a class="paquete" [routerLink]="['/paquete-turistico-traslasierra']">
<div class="fotopaquete"> <img class="anchofoto" src="./assets/img/Nacimiento del rio Mina Clavero.jpg" alt="Catedral de Córdoba">
</div>
<div class="nombrepaquete" *ngIf="productos">
    <ng-container *ngFor="let producto of productos">
        <div *ngIf="producto.idproducto == 9">        
<h2> {{ producto.nombreproducto }}</h2>
<p class="cuerpo">{{ producto.descripcion }}</p>
<p> fecha: {{ producto.fecha }}</p>
<p>Idioma: Ingles, Español</p>
<p>Modalidad: Cancelacion Gratuita</p>
    </div>       
    </ng-container>
</div>
<div class="precio" *ngIf="productos">
    <ng-container *ngFor="let producto of productos">
    <div *ngIf="producto.idproducto == 9">   
    <p class="negrita">Desde</p>
    <p> $ {{ producto.precio }}</p>
        </div>       
        </ng-container>
</div>   
</a>
</section>
