


<div>
  <div id="portada">

    <h1>Conociendo Córdoba</h1>
  </div>
    <!--PARTE NUEVA-->
  <section class="primeraparte">

    <div class="introduccion">
      <h2> Bienvenidos a Córdoba</h2>
      <p>Una tierra radiante de vida, perfectamente imperfecta y llena de autenticidad. Donde el viejo y el nuevo mundo
        coexisten, y los paisajes cosmopolitas conviven en armonía con con hermosos paisajes naturales llenos de vida.
      </p>
      <p>Una provincia para los que buscan más allá de las expectativas, que te reta a ver más. Conéctarte más. Sentir
        más. Un lugar para los que anhelan más estimulación, conexión y transformación. Córdoba no es el destino, sino
        el viaje para descubrir más de lo que realmente importa.</p>
      <p>Crea recuerdos más duraderos a través de una explosión de inspiración y propósito. Y deja que el espíritu de <a
          href="cordoba_capital.html">Córdoba</a> desate un sentido de pertenencia.</p>
    </div>
    <div class="fotocordoba"> <img class="tamaniofoto" src="../../../assets/img/catedral.jpg" alt="Catedral de Córdoba">
    </div>
  </section>
  <section class="segundaparte">
    <div class="fotocentrada"><img class="tamaniofoto1" src="../../../assets/img/d.jpg" alt="Nacimiento del rio Mina Clavero">
    </div>

    <div class="introduccion1">
      <h2>Recorre la provincia con nosotros</h2>
      <p>La ubicación única de Córdoba brinda la experiencia inigualable. Estamos dotados de una amplia gama de destinos
        turisticos naturales, rios con hermosas playas de arena y montañas con paisajes unicos, extensos campos, salinas
        y un mar interior, todo a poca distancia de una ciudad cosmopolita. ¿Listo para empezar a explorar?</p>

      <h5><a href="areas_turisticas.html">Visita con nosotros nuestros destinos turisticos</a></h5>
    </div>
  </section>

  <section class="terceraparte">

    <div class="descuentos">
      <h2>Cupones de descuentos</h2>
      <br>
      <p>Obtene descuentos para disfrutar en tus vacaciones en Córdoba ingresando en nuesta seccion de Log in</p>
      <p>Si todavia no estas registrado podes hacerlo dando click en el siguiente boton</p>
      <button class="boton"><a href="login.html">Log in</a> </button>
    </div>
    <div class="fotocordoba"> <img class="tamaniofoto" src="../../../assets/img/DSC07020.jpg" alt="foto">
    </div>
  </section>

  <section class="cuartaparte">
    <div class="fotocentrada"><img class="tamaniofoto1" src="../../../assets/img/astro4.jpg" alt="Astrofotogracia en Córdoba">
    </div>

    <div class="astro">
      <h2>Córdoba y sus cielos</h2>
      <p>Esta modalidad que está haciendo furor entre los amantes de la astronomía consiste en realizar excursiones a
        lugares alejados de la ciudad, a cielo abierto, en donde no hay contaminación lumínica. Con esto, aparecen
        también los curiosos y la astrofotografía, una actividad nació hace muy pocos años. Se trata del empleo de la
        fotografía en la astronomía de cielo profundo.</p>
      <p>Córdoba ofrece distintas variaciones de astroturismo, algunas son más relajadas y otras involucran un shot de
        adrenalina. Contemplar las estrellas en las alturas de las cumbres de Córdoba, es la excursión ideal para
        disfrutar del paisaje conectando con la naturaleza.</p>


      <h5><a href="astroturismo.html">Recorre nuestra galeria de fotos</a></h5>
    </div>
  </section>

  <!--PARTE NUEVA-->

  <section id="galeria">

    <h3>Regiones turisticas</h3>


    <div class="row" id="caja">

      <div class="col-lg-4 col-sm-4" id="a">

        <img src="../../../assets/img/a.jpg" class="img-fluid" class="img-thumbnail">
        <p><a href="areas_turisticas.html">Áreas turisticas</a> </p>

      </div>
      <div class="col-lg-4 col-sm-4" id="b">

        <img src="../../../assets/img/o.jpg" class="img-fluid" class="img-thumbnail">
        <p><a href="astroturismo.html">Astrofotografia</a> </p>

      </div>
      <div class="col-lg-4 col-sm-4" id="c">

        <img src="../../../assets/img/c.jpg" class="img-fluid" class="img-thumbnail">
        <p> <a href="actividades_turisticas.html">Actividades turisticas</a></p>

      </div>

      <div class="col-lg-4 col-sm-4" id="d">

        <img src="../../../assets/img/d.jpg" class="img-fluid" class="img-thumbnail">
        <p> <a href="cordoba_capital.html">Córdoba Capital</a></p>

      </div>
      <div class="col-lg-4 col-sm-4" id="e">

        <img src="../../../assets/img/santa catalina.jpg" class="img-fluid" class="img-thumbnail">
        <p> <a href="turismo_religioso.html">Turismo Religioso</a></p>

      </div>
      <div class="col-lg-4 col-sm-4" id="f">

        <img src="../../../assets/img/f.jpg" class="img-fluid" class="img-thumbnail">
        <p> <a href="parques_nacionales.html">Parques Nacionales</a></p>
      </div>

    </div>

    <!-- imagenes colocadas con bootstrap  -->
  </section>
</div>
