html{
	scroll-behavior: smooth;
}

body{
	font-family: helvetica, verdana, calibri;
}

header, footer {
    width: 100%;
    margin-right: auto;
}

main{
    width: 80%;
    margin: 0 auto;
    
}

header{

	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
    background-position: center;
	
}


#portada h1{
	text-align: center;
	letter-spacing: 0.1em;
	font-size: 100px;
	padding-top: 230px;
	color: #fff;
	font-family:  'Archivo Black';
	font-weight: bold;
	text-decoration:none;
}

#portada h2{
	text-align: center;
	letter-spacing: 0.2em;
	font-size: 50px;
	padding-bottom: 120px;
	color: #fff;
	font-family:  'Archivo Black';
	font-weight: bold;
}

#menu{
	text-align: right;
	margin: 20px;
    margin-top: -460px;
	margin-right: 41px;
	float: right;
    
}

.nav a{
	font-size: 17px;
	padding: 30px;
	color: #fff;
	text-decoration: none;
}

.nav a:hover{
	color: #fff;
}


ul{
	list-style: none;
}

.nav li a{
	text-decoration: none;
	padding: 10px 15px;
	display: block;
}

.nav > li{
	float: left;
	text-align: left;
}

.nav li ul{
	display: none;
	position:fixed;
	min-width: 140px;
}

.nav li:hover > ul{
	display: block;
}

#Contacto{
	padding: 10px;
	width: 50%;
	margin: 0 auto;
	padding-bottom: 50px;
}

#Contacto h3{
 	padding-top: 80px;
}

.registro{
	padding: 10px;
	width: 50%;
	height:250px ;
	margin: 0 auto;
}

.btn btn-outline-secondary

#Galeria h3{
	text-align: center;
	padding-top: 15px;
	padding-bottom: 12px;
	font-size: 30px;
}

#caja {
	
	width: 1200px;
	margin-left:80px;
	margin-bottom: 20px;
	
}

#caja p{
	text-align: center;
	font-size: 20px;
	padding-top: 10px;
}
#caja p a{
	list-style-type: none;
	text-decoration: none;
	color: #000;
	font-weight: bold;
}

#caja1 {
	width: 1200px;
	margin-left: 15px;
}

footer{
width: 100%;
background-color: black;
color: white;
}
.container-footer-all{
    width:100%;
    max-width: 1200px;
    margin: auto; justify-content: space-between;

}
.container-body {
display: flex;justify-content: space-between;

}
.column1{
max-width: 400px; 
}
.column1 h1{
font-size: 22px; 
}
.column1 p{
    font-size: 14px; color: #C7C7C7; margin-top: 20px;
}

.cookies{
	margin-top: 150px;
}

.cookies a{
	text-decoration: none;
}

.column2 {
max-width: 400px;
}
.column2 h1{
    font-size: 22px;
}
.column2 .row1 {
margin-top: 20px; display: flex;
}
.row1 img{
    width: 36px; height: 36px;
}
.row1 label{ margin-top: 10px; margin-left: 20px; color: #C7C7C7;}

.column3 {
    max-width: 400px;
}
.column3 h1{ font-size: 22px;}

.row2{  margin-top: 10px; margin-left: 20px; color: #C7C7C7;}

.row2 img{
    width: 36px; height: 36px;}
.container-footer img{
    width: 36px; height: 36px;  
}
.container-footer{ margin-top: 10px; margin-left: 20px; color: #C7C7C7;}


/* Responsive celular */
@media screen and (max-width: 510px) {

	body {
		width: auto;
	}
	
	#portada h1{
		text-align: center;
		letter-spacing: 0.1em;
		font-size: 50px;
		padding-top: 300px;
		color: #fff;
		font-family: 'Archivo Black';
		font-weight: bold;
		text-decoration:none;
	}
		
	.nav li a{
		text-decoration: none;
		padding: 10px 15px;
		display: block;
	}
	
	.nav > li{
		float: left;
		text-align: left;
	}


	#Contacto{
		width: 90%;
	}

	
	/* footer */
	.container-body {
	display: block;
	justify-content: space-between;
	}
	.column1, .column2, .column3{
		width: 100%; 
		margin: 0px 10px;
	}
	.column1 h1, .column2 h1, .column3 h1{
		font-size: 22px; 
		width: auto;
	}
	.column1 p, .container-footer-all label{
		font-size: 13px;
		color: #C7C7C7;
		margin-top: 10px;
	}

	.cookies{
		margin-top: 10px;
	}
	
	
	.row1 {
		margin-top: 20px; 
		display: flex;
	}

	.row1 img {
		width: 25px; 
		height: 25px;
		margin-left: 10px;
	}
			
	.row2{  
		margin-top: 10px;
		margin-left: 20px; 
		color: #C7C7C7;}
	
	.row2 img{
		width: 20px; 
		height: 20px;
		margin-left: -20px;
	}
	.row2 label {
		font-size: 13px;
	}
	.container-footer img{
		width: 36px; 
		height: 36px;  
	}
	.container-footer{ 
		text-align: center;
		margin-top: 20px; 
		margin-left: 20px; 
		color: #C7C7C7;
	}

}

/* Responsive tablet */
@media screen and (min-width: 768px) and (max-width: 1200px) {
	
	#portada h1{
		text-align: center;
		letter-spacing: 0.1em;
		font-size: 60px;
		padding-top: 500px;
		color: #fff;
		font-family: 'Archivo Black';
		font-weight: bold;
		text-decoration:none;
	}

	#menu {
		top: 100px;
	}		

	/* footer */
	.container-body {
	display: flex;
	justify-content: space-between;
	}
	.column1, .column2, .column3{
		margin: 10px;
	}
	.column1 h1, .column2 h1, .column3 h1{
		font-size: 22px; 
		width: auto;
	}
	.column1 p, .container-footer-all label{
		font-size: 14px;
		color: #C7C7C7;
		margin-top: 10px;
	}

	.cookies{
		margin-top: 50px;
	}
	
	
	.row1 img {
		width: 35px; 
		height: 35px;
		margin-left: 25px;
	}
	
	.row2 img{
		width: 20px; 
		height: 20px;
		margin-left: -25px;
	}

	.container-footer img{
		width: 36px; 
		height: 36px;  
	}
	.container-footer{ 
		text-align: center; 
		color: #C7C7C7;
		margin-left: -15px;
	}

}