
<section class="primeraetapa">

    <h2>Excursión de día completo al Valle de Traslasierra desde Córdoba</h2>
    <h4>Córdoba, Argentina</h4>

    <div class="carrusel1">
        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="./assets/img/Paredon del Dique la Viña.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="./assets/img/Nacimiento del rio Mina Clavero desde La Toma.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="./assets/img/Cascada de los Helechos, Rio Hueco.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="./assets/img/Atardecer desde las Altas Cumbres 2.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
<!--Carrito-->
    <div class="carrito1">
        <h3>Desde $ 23999</h3>
        <br>
        <h4>Seleccionar fecha y viajeros</h4>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"></label>
            <input type="" class="form-control" id="exampleFormControlInput1" placeholder="Lunes, 01 de Mayo de 2023">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"></label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="2 Adultos">
        <br>
            <button type="submit" class="btn btn-primary">Comprar</button>
        <br>
        <br>
        <br>
        <p>Reserve plaza manteniendo la flexibilidad</p>
        <p>Cancelación gratuita</p>
        <p>Hasta 24 horas antes.</p>

          </div>
    </div>

<!--info general-->

    <div class="infogral">
        <div class="a">
            <div class="icono"><img class="size" src="./assets/img/reloj.png" alt=""></div>
            <div class="text"><p>10 horas (aprox.)</p></div>
        </div>
        
        <div class="a">
            <div class="icono"><img class="size" src="./assets/img/autobus.png" alt=""></div>
            <p>Recogida desde hoteles seleccionados</p>
        </div>

        <div class="a">
            <div class="icono"><img class="size" src="./assets/img/cel.png" alt=""></div>
            <p>Entrada para dispositivos móviles</p>
        </div>

        <div class="a">
            <div class="icono"><img class="size" src="./assets/img/dialogo.png" alt=""></div>
            <p>Idiomas disponibles: Español e Ingles</p>
        </div>  
        
    </div>
    <!--Descripcion-->

    <div class="desc">
        <br>
        <h2>Descripcion general</h2>
        <br>
        <p>Escape de las rutas turísticas para explorar las tradicionales ciudades y los valles bañados de sol de Traslasierra en esta excursión de día completo desde Córdoba. Hágase una idea de la vida local mientras visita las ciudades de la provincia como Villa Carlos Paz, Mina Clavero y Nono; disfrute de unas impresionantes vistas panorámicas mientras se dirige a lo largo del Camino de las Altas Cumbres y admira las maravillas naturales como la cascada la Lágrima del Indio, el río Mina Clavero y las colinas Ñuños.</p>
    </div>

    <!--Servicios-->
    <div class="desc">
        <br>
        <h2>Servicios incluidos</h2>
        <br>
        <p>Guía profesional</p>
        <p>Traslado de ida y vuelta al hotel</p>
        <p>Vehículo con aire acondicionado</p>
    </div>
    <!--Encuentro-->

    <div class="desc">
        <br>
        <h2>Encuentro y recogida</h2>
        <br>
        <h4>Detalles de la recogida</h4>
        <p>Puede dirigirse directamente al punto de encuentro o solicitar que le recojan en su hotel</p>
    </div>
     <!--Que esperar-->

     <div class="desc">
        <br>
        <h2>Que esperar</h2>
        <br>
        <h4>Inicio</h4>
        <p>El recorrido comienza con la recogida en los hoteles de Córdoba a partir de las 9.00 h.</p>
        <h4>Parque Nacional Quebrada del Condorito</h4>
        <p>Fue creado para proteger las especies únicas de flora y fauna del lugar. Incluyendo el emblemático "Cóndor Andino".</p>
        <h4>Camino de las Altas Cumbres</h4>
        <p>Dejaremos atrás Córdoba por la ruta nacional N° 20 a través de las pintorescas poblaciones de Villa Carlos Paz, San Antonio de Arredondo, Mayu Sumaj, Icho Cruz y Cuesta Blanca. A continuación, comenzaremos a transitar el Camino de las Altas Cumbres, disfrutando de sus impresionantes vistas panorámicas y visitaremos varios puntos a lo largo del camino, como la cascada Lágrima del Indio, la Fundación el Cóndor, la Pampa de Achala y el nacimiento del río Mina Clavero.</p>
        <h4>Mina Clavero</h4>
        <p>En Mina Clavero conoceremos Balneario de los Elefantes y el centro comercial. Tendremos tiempo para almorzar entre las 12.30 h y las 14.00 h (no incluido)</p>
        <h4>Iglesia Cura Brochero</h4>
        <p>La excursión continuará a Villa Cura Brochero, donde veremos la iglesia donde solía predicar el sacerdote gaucho Brochero.</p>
        <h4>Nono</h4>
        <p>A continuación, seguiremos hacia Nono, avistando las típicas colinas de Ñuños y el museo Polifacético Rocsen.</p>
        <h4>Complejo Bosque Alegre</h4>
        <p>Le llevaremos de vuelta a Córdoba a través del sendero de Bosque Alegre con vistas a la Estación Terrena y el Observatorio Nacional. La excursión concluye con la vuelta a su hotel de Córdoba sobre las 19.00 h.</p>
    </div>

    <!--Info adicional-->
    <div class="desc">
        <br>
        <h2>Información adicional</h2>
        <br>
        <p>La confirmación se recibirá cuando se realice la reserva</p>
        <p>No es adecuado para viajeros con afecciones cardíacas u otros problemas médicos graves</p>
        <p>La mayoría de viajeros pueden participar en la experiencia</p>
        <p>La mayoría de viajeros pueden participar en la experiencia</p>
    </div>

    <!--politica de cancelacion-->
    <div class="desc">
        <br>
        <h2>Política de cancelación</h2>
        <br>
        <p>Para recibir el reembolso íntegro de la experiencia debes cancelarla como mínimo 24 horas antes de que empiece.</p>
        <p>Si cancelas la experiencia menos de 24 horas antes de que empiece, no se te devolverá el importe abonado.</p>
        <p>No se aceptará ningún cambio que se realice cuando falten menos de 24 horas para empezar la experiencia.</p>
        <p>La hora límite se basa en la hora local del lugar donde se realiza la experiencia.</p>
    </div>

</section>



